<script lang="ts">
import Vue from 'vue';
import { getPageMetadata } from '~/common/meta';
import { NextStep } from '~/components/common/index.vue';
import { StagesTable } from '~/components/devops-tools/index.vue';

export default Vue.extend({
  components: {
    NextStep,
    StagesTable,
  },
  async asyncData({ $content, error }: any) {
    try {
      const devopsTools = await $content('/devops-tools/index').fetch();
      return { devopsTools };
    } catch (e) {
      error({ statusCode: 404 });
      return {};
    }
  },
  head() {
    return getPageMetadata((this as any).devopsTools, this.$route.path);
  },
});
</script>

<template>
  <div>
    <SlpContainer>
      <StagesTable :data="devopsTools.table" />
    </SlpContainer>
    <NextStep />
  </div>
</template>
