<script lang="ts">
import Vue from 'vue';

export default Vue.extend({
  name: 'FeaturesComparisonList',
  props: {
    data: {
      type: Object,
      default: null,
      required: true,
    },
  },
  data() {
    return {
      showTooltip: false,
      isScrolling: false,
    };
  },
  mounted() {
    document.addEventListener('scroll', () => {
      this.isScrolling = true;

      if (window.scrollY < 5) {
        this.isScrolling = false;
      }
    });
  },
});
</script>

<template>
  <SlpContainer class="container slp-mt-md-32">
    <SlpColumn :cols="12" class="table">
      <SlpRow class="row row__sticky" :class="{ surface: isScrolling }">
        <SlpColumn :cols="4" class="row__sticky--column">
          <SlpTypography
            tag="h1"
            variant="heading3-bold"
            class="column__title"
            >{{ data.title }}</SlpTypography
          >
          <SlpTypography tag="p" variant="body2">{{
            data.caveat
          }}</SlpTypography>
        </SlpColumn>
        <SlpColumn :cols="8" class="mobile-header">
          <SlpRow class="mobile-header__row">
            <SlpColumn v-for="plan in data.plans" :key="plan.name" :cols="2">
              <SlpTypography tag="h2" variant="heading4-bold">{{
                plan.name
              }}</SlpTypography>
            </SlpColumn>
          </SlpRow>
        </SlpColumn>
        <SlpColumn :cols="8" class="row__desktop">
          <SlpRow>
            <SlpColumn
              v-for="plan in data.plans"
              :key="plan.name"
              :cols="4"
              class="column"
            >
              <SlpTypography tag="h2" variant="heading4-bold">{{
                plan.name
              }}</SlpTypography>
              <SlpTypography tag="h3" variant="body2-bold">{{
                plan.price
              }}</SlpTypography>
              <SlpTypography tag="p" variant="body3" class="slp-mb-16">{{
                plan.description
              }}</SlpTypography>
              <SlpButton
                :href="plan.button_href"
                :variant="plan.button_variant"
                :data-ga-name="plan.button_text"
                data-ga-location="body"
              >
                <SlpTypography tag="span" variant="body2-bold">
                  {{ plan.button_text }}
                </SlpTypography>
                <SlpIcon name="chevron-lg-right" variant="product" />
              </SlpButton>
            </SlpColumn>
          </SlpRow>
        </SlpColumn>
      </SlpRow>

      <SlpRow v-for="section in data.blocks" :key="section.title" class="row">
        <SlpColumn :cols="12" class="table__section">
          <SlpTypography
            tag="h4"
            variant="heading4-bold"
            class="table__section--title"
            >{{ section.title }}</SlpTypography
          >
          <SlpRow
            v-for="feature in section.features"
            :key="feature.name"
            class="feature"
          >
            <SlpColumn :cols="4" class="feature__column--title">
              <SlpTooltip
                :text="feature.tooltip_text"
                position="right"
                class="feature__column--info-tip no-border"
              >
                <SlpIcon
                  name="information-o"
                  variant="product"
                  hex-color="#171321"
                  alt="Information icon"
                  @mouseover="showTooltip = true"
                  @mouseleave="showTooltip = false" /></SlpTooltip
              ><a :href="feature.button_href" :alt="feature.name">{{
                feature.name
              }}</a>
            </SlpColumn>
            <SlpColumn :cols="8" class="checks-container">
              <SlpRow class="checks">
                <SlpColumn
                  v-if="feature.plans.includes('free')"
                  class="check"
                  :cols="4"
                >
                  <SlpIcon
                    name="check"
                    variant="product"
                    hex-color="#171321"
                    alt="Check icon"
                    size="sm"
                  />
                </SlpColumn>

                <SlpColumn
                  v-if="!feature.plans.includes('free')"
                  class="check"
                  :cols="4"
                >
                </SlpColumn>

                <SlpColumn
                  v-if="feature.plans.includes('premium')"
                  class="check"
                  :cols="4"
                >
                  <SlpIcon
                    name="check"
                    variant="product"
                    hex-color="#171321"
                    alt="Check icon"
                    size="sm"
                  />
                </SlpColumn>

                <SlpColumn
                  v-if="!feature.plans.includes('premium')"
                  class="check"
                  :cols="4"
                >
                </SlpColumn>

                <SlpColumn
                  v-if="feature.plans.includes('ultimate')"
                  class="check"
                  :cols="4"
                >
                  <SlpIcon
                    name="check"
                    variant="product"
                    hex-color="#171321"
                    alt="Check icon"
                    size="sm"
                  />
                </SlpColumn>

                <SlpColumn
                  v-if="!feature.plans.includes('ultimate')"
                  class="check"
                  :cols="4"
                >
                </SlpColumn>
              </SlpRow>
            </SlpColumn>
          </SlpRow>
        </SlpColumn>
      </SlpRow>
    </SlpColumn>
  </SlpContainer>
</template>

<style lang="scss" scoped>
.container {
  min-width: 100vw;
  max-width: 100vw;
  padding: 0 $spacing-16;

  .table {
    position: relative;

    @media (min-width: 1024px) {
      padding: 0;
      max-width: 1170px;
      margin: 0 auto;
    }

    @media (max-width: calc($breakpoint-md - 1px)) {
      padding: 0;
    }

    .row {
      padding: $spacing-32 0;

      @media (max-width: calc($breakpoint-md - 1px)) {
        display: flex;
        justify-content: space-around;
        align-items: center;
        padding: $spacing-8 0;
      }

      @media (min-width: $breakpoint-md) and (max-width: $breakpoint-lg) {
        padding: 0;
      }

      &__sticky {
        position: sticky;
        top: 115px;
        background-color: white;
        z-index: 1000;
        padding: $spacing-16 0 $spacing-4 0;
        flex-direction: column;
        &:before {
          content: '';
          position: absolute;
          height: 100%;
          width: 100vw;
          left: 50%;
          top: 0;
          transform: translateX(-50%);
          background: white;
        }

        @media (min-width: $breakpoint-sm) {
          top: 80px;
          flex-direction: row;
        }
        @media (min-width: $breakpoint-md) {
          padding: $spacing-16 0;
        }

        @media (min-width: $breakpoint-lg) {
          top: 115px;
        }

        &--column {
          position: relative;
          margin-right: auto;
        }
      }
      &__desktop {
        @media (max-width: calc($breakpoint-md - 1px)) {
          display: none;
        }
      }
    }

    .surface {
      &::before {
        box-shadow: 0px 24px 50px -16px #d1d0d3;
      }
    }

    &__section {
      width: 100%;
      z-index: 100;

      &--title {
        margin: $spacing-16 0;
        padding: 0 $spacing-8;
      }

      .checks-container {
        display: flex;
        justify-content: right;
        max-width: 158px;
        @media (min-width: $breakpoint-sm) {
          max-width: 170px;
        }
        @media (min-width: $breakpoint-md) {
          max-width: 100%;
        }

        .checks {
          display: flex;
          justify-content: flex-end;
          width: 100%;

          @media (max-width: calc($breakpoint-md - 1px)) {
            justify-content: center;
            padding: 0;
          }

          @media (min-width: $breakpoint-md) and (max-width: $breakpoint-lg) {
            margin: 0;
            padding: 0;
            width: 100%;
            justify-content: space-evenly;
          }

          .check {
            display: flex;
            justify-content: space-around;
            width: 100%;

            @media (max-width: calc($breakpoint-md - 1px)) {
              flex: 1 1 33.33%;
              width: fit-content;
            }
          }
        }
      }
    }

    .column {
      @media (min-width: $breakpoint-md) {
        border-right: 1px dashed $color-surface-400;
        padding: 0 $spacing-8;
        &:last-child {
          border: none;
        }
      }
      @media (min-width: $breakpoint-lg) {
        padding: 0 $spacing-32;
      }
      @media (max-width: calc($breakpoint-md - 1px)) {
        display: none;
      }

      @media (min-width: $breakpoint-md) and (max-width: $breakpoint-lg) {
        .slp-btn-tertiary {
          padding-left: 0;
        }
      }

      &__title {
        font-size: $text-heading-3;
        line-height: $line-height-heading-3;

        h4 {
          @media (max-width: $breakpoint-lg) {
            font-size: $text-heading-3-mobile;
            line-height: $line-height-heading-3-mobile;
          }
        }
      }
    }

    .feature {
      min-height: 54px;
      display: flex;
      align-items: center;
      justify-content: space-evenly;

      @media (max-width: calc($breakpoint-md - 1px)) {
        text-align: left;
        width: 100%;
        justify-content: space-between;
      }

      &:nth-child(even) {
        background-color: $color-surface-100;
      }

      &__column {
        text-align: right;
        padding-right: $spacing-24;

        @media (max-width: calc($breakpoint-md - 1px)) {
          padding-right: 0;
        }

        &--info-tip {
          display: flex;
          justify-content: right;
          padding: 0 $spacing-8;
          cursor: pointer;
        }

        &--title {
          display: flex;
          align-items: center;
          justify-content: left;

          a {
            &:after {
              content: '→';
              opacity: 0;
              transition: 0.25s;
            }

            &:hover:after {
              opacity: 1;
            }

            @media (max-width: calc($breakpoint-md - 1px)) {
              margin: $spacing-16 0;
            }
          }

          @media (max-width: calc($breakpoint-md - 1px)) {
            max-width: 50%;
            padding-left: 4px;
          }
        }
      }
    }
  }

  .mobile-header {
    display: none;
    @media (max-width: $breakpoint-sm) {
      margin-left: auto;
      margin-right: 0;
    }
    @media (max-width: calc($breakpoint-md - 1px)) {
      display: block;
      margin-top: $spacing-16;

      &__row {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        transform: rotate(270deg);
        margin-right: -$spacing-4;

        & > * {
          border-bottom: 1px dashed $color-surface-400;
          padding: $spacing-8 $spacing-32 $spacing-8 $spacing-16;
          margin: 0;
          &:last-child {
            border-bottom: none;
          }
        }
      }
    }
  }
}
</style>
