<script lang="ts">
import Vue from 'vue';
import { MetaInfo } from 'vue-meta/types/vue-meta';
import { NextStep } from '~/components/common/index';
import { getPageMetadata } from '~/common/meta';

import roiCalculator from '~/components/calculator/roi.vue';

export default Vue.extend({
  components: {
    NextStep,
    roiCalculator,
  },
  async asyncData({ $content }) {
    const doc = await $content('calculator/roi/index').fetch();
    return { doc };
  },
  head(): MetaInfo {
    return getPageMetadata((this as any).doc, this.$route.path);
  },
});
</script>
<template>
  <div>
    <SlpContainer>
      <section class="calculator-wrapper">
        <SlpTypography tag="h1" variant="heading2-bold"
          >How much is your toolchain costing you?</SlpTypography
        >
        <roiCalculator
          :tooltip-data="doc.tooltips"
          :premium-features="doc.premium_features"
          :ultimate-features="doc.ultimate_features"
          :spend-tooltip="doc.currentSpendTooltip"
        />
      </section>
      <section class="cards">
        <a
          v-for="card in doc.cards"
          :key="card.title"
          class="card"
          :href="card.link_url"
          :data-ga-name="card.data_ga_name"
          :data-ga-location="card.data_ga_location"
        >
          <SlpIcon
            v-if="card.icon"
            size="lg"
            hex-color="transparent"
            :name="card.icon.name"
            :alt="card.icon.alt"
            :variant="card.icon.variant"
          />
          <SlpTypography tag="h3" variant="heading3">{{
            card.title
          }}</SlpTypography>
          <span>
            <SlpTypography tag="p" variant="body3-bold">{{
              card.link_text
            }}</SlpTypography>
            <SlpIcon variant="product" name="chevron-lg-right" />
          </span>
        </a>
      </section>
    </SlpContainer>
    <SlpContainer variant="gradient">
      <NextStep />
    </SlpContainer>
  </div>
</template>

<style scoped lang="scss">
.calculator-wrapper {
  padding-top: $spacing-64;
  padding-bottom: $spacing-96;

  @media (max-width: $breakpoint-md) {
    padding-top: $spacing-16;
  }

  h1 {
    text-align: center;
    margin: 0 auto $spacing-48 auto;
    display: block;
    max-width: 730px;

    @media (max-width: $breakpoint-md) {
      margin-bottom: $spacing-16;
    }
  }
}

.cards {
  display: flex;
  gap: $spacing-16;
  justify-content: space-between;
  margin-bottom: $spacing-48;

  @media (max-width: $breakpoint-md) {
    flex-wrap: wrap;
  }

  .card {
    flex: 1 0 50%;
    background: $color-surface-800;
    border-radius: 16px;
    padding: $spacing-32 80px $spacing-32 $spacing-32;
    color: $color-text-300;
    transition: all 0.3s ease-in-out;

    &:hover {
      box-shadow: $shadow-surface-primary-3;
    }

    span {
      display: flex;
      flex-wrap: nowrap;
      align-items: center;
    }

    h3 {
      margin-top: $spacing-16;
      margin-bottom: $spacing-24;
    }

    p {
      margin-right: $spacing-8;
    }
  }
}
</style>
