<script lang="ts">
import Vue from 'vue';
import ComparisonSideBySide from './comparison-side-by-side.vue';

export default Vue.extend({
  name: 'ComparisonAnalysis',
  components: {
    ComparisonSideBySide,
  },
  props: {
    data: {
      type: Object,
      required: true,
      default: null,
    },
  },
  methods: {
    modifyData() {
      const data = this.data.comparison_table[0];
      data.competitor_product = this.data.competitor_product;
      return data;
    },
  },
});
</script>

<template>
  <section class="comparison-analysis">
    <SlpContainer>
      <ComparisonSideBySide :data="modifyData()" />
    </SlpContainer>
  </section>
</template>

<style scoped lang="scss">
.comparison-analysis {
  overflow: hidden;
}

.title {
  @media (max-width: $breakpoint-md) {
    margin-top: 40px;
  }
}

.italics {
  text-decoration: italic;
}

.card {
  border: 1px solid $color-surface-200;
  width: max-content;
  border-radius: $border-radius-4;

  @media (max-width: $breakpoint-md) {
    width: 100%;
  }
}

.legend {
  display: inline-flex;
  align-items: center;

  @media (max-width: $breakpoint-md) {
    display: flex;
  }

  &__image {
    height: $spacing-24;
    width: $spacing-24;
  }

  &-body {
    display: flex;
    align-items: center;
  }
}
</style>
