<script lang="ts">
import Vue from 'vue';
import Tabs from './tabs.vue';
import ComparisonSideBySide from './comparison-side-by-side.vue';
import TabsOverview from './tab-overview.vue';

export default Vue.extend({
  components: {
    Tabs,
    ComparisonSideBySide,
    TabsOverview,
  },
  props: {
    data: {
      type: Object,
      required: true,
      default() {
        return {};
      },
    },
  },
  data() {
    return {
      selectedTab: 0,
    };
  },
  methods: {
    setSelectedTab(value: number) {
      this.selectedTab = value;
    },
    modifyData() {
      const data = this.data.comparison_table[this.selectedTab];
      data.competitor_product = this.data.competitor_product;

      return data;
    },
  },
});
</script>

<template>
  <div class="tab-table">
    <Tabs
      :data="data"
      :show-in-mobile="true"
      :selected-tab="selectedTab"
      @tab-change="setSelectedTab"
    />
    <div
      :id="`${data.comparison_table[selectedTab].stage}-panel`"
      class="tab-table__container"
      role="tabpanel"
      :aria-labelledby="`${data.comparison_table[selectedTab].stage}-control`"
    >
      <ComparisonSideBySide :data="modifyData()" :style-for-tabs="true" />
      <div class="tab-table__overview">
        <TabsOverview :data="modifyData()" />
      </div>
    </div>
  </div>
</template>

<style lang="scss" scoped>
a {
  color: $color-text-300;
}
.tab-table {
  margin-top: $spacing-32;
  margin-bottom: $spacing-48;
  &__container {
    border-radius: 8px;
    margin-top: -45px;
    position: relative;
    padding-bottom: 4px;
    @media (min-width: $breakpoint-md) {
      padding-bottom: 0;
      box-shadow: 0px 8px 50px -16px #d1d0d3;
    }
    &:before {
      content: '';
      display: block;
      position: absolute;
      background: $color-surface-800;
      width: 200%;
      left: -50%;
      height: 100%;
      @media (min-width: $breakpoint-md) {
        display: none;
      }
    }
    div {
      position: relative;
    }
  }
  &__overview {
    background: $color-surface-50;
    display: block;
    position: relative;
    z-index: 1111;
    border-top: 1px solid $color-surface-200;
    border-radius: 0px 0px 8px 8px;
  }
}

.competition {
  background: $color-surface-100;
}

.title {
  @media (max-width: $breakpoint-md) {
    margin-top: 40px;
  }
}

.italics {
  text-decoration: italic;
}

.card {
  border: 1px solid $color-surface-200;
  width: max-content;
  border-radius: $border-radius-4;

  @media (max-width: $breakpoint-md) {
    width: 100%;
  }
}

.legend {
  display: inline-flex;
  align-items: center;

  @media (max-width: $breakpoint-md) {
    display: flex;
  }

  &__image {
    height: $spacing-24;
    width: $spacing-24;
  }

  &-body {
    display: flex;
    align-items: center;
  }
}
</style>
